.landing-container {
    background-color: #F3642C;
    width: calc(100% - 56px);
}

.logo {
    width: 65px;
    height: auto;
    margin-top: 30px;
    margin-left: 3rem;
}

#logo-container {
    margin-bottom: 30px;
}