.landing-container {
    width: 100%;
    min-height: calc(100vh - 25px);
}

.logo {
    width: 65px;
    height: auto;
    margin-top: 30px;
    margin-left: 3rem;
}

#logo-container {
    margin-bottom: 30px;
}