.videos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 200px 0 100px;
}

.videos-header{
    color: #F3C82C;
    font-size: 5rem;
    margin: 0;
    padding: 0 15px;
}

.videos-explain {
    color: #FAF3D0;
    line-height: normal;
    font-size: 16px;
    padding: 0 15px;
}

.videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.video-cart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.video-cart-container p {
    font-size: 14px;
    width: 250px;
}