.header-container {
    background: linear-gradient(#FF6528, #702A12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56px;
    height: 100vh;
    position: fixed;
}